body{
  font-family: 'poppins', 'Times New Roman', Times, serif;
  color: #fff400;
  background-color: #007BFF;
}

/* Estilo Navbar */

.justify-content-end{
  background-color:  #beb9b986!important;
}
.navbar {
  background-color: #777777!important;
}
.nav-link{
  font-size: 30px;
  font-weight: 600;
  color:  #043e7e !important;
  border-color:  #FFA500;
}


/*ESTILOS DEL CONTENEDOR*/
#products {
  max-width: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 10px 0px 0 10px;
}
.productcard {
  background-color:rgba(119, 119, 119, 0.712);
  display: grid;
  margin: 20px;
  text-align: left;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.473);
}
  /*ESTILOS DEL div y imagen*/
.imgdiv{
display: grid;
place-items: center;
}
.imgdiv img{
max-width: 90%;
max-height:90%;
object-fit: cover;
border-radius: 15px 15px 15px 15px;
box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.639);
}
/*ESTILOS DEL div y h3*/
.h3div {
  padding: 0px 70px;
}
.h3div h3{
font-size: 220%;
}
.botondiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/*ESTILOS DEL div y contador ventas*/

/*ESTILOS DEL precio*/
.precio{
  color: #ff7700;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.345) 1px solid black;
  font-size: 185%;
  font-weight: bold;
}


/*ESTILOS DEL encabezado*/
.encabezado{
  padding: 15px 0 0 30px;
 
}
.encabezado h1{
  color:#ff7700;
  -webkit-text-stroke: 1px #ff7700 1px solid black; 
  text-shadow: 0.5px 0px 10px grey;
  font-size: 350%;
  font-weight: 600;
  margin-top: 20px;
  padding: 0;
}
.encabezado h2{
font-size: 150%;
}

.botoncarro{
  padding: 10px 20px;
  background-color: #ff7700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.botoncarro:hover {
    background-color: #541b01f7;
}

/* Estilo de Carrito */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-contenido {
  background-color: rgb(0, 21, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-danger {
  color: #007BFF;
  background-color: #FFA500;
  border-color: #FFA500;
}
.popup button:hover {
  background-color: #0056b3;
}



/* Estilos generales para pantallas de escritorio */
/* Utiliza las clases de Bootstrap para diseñar tu sitio para pantallas de escritorio */

/* Media query para dispositivos móviles (Bootstrap utiliza 576px como punto de corte para móviles) */
@media (max-width: 576px) {
  /* Personaliza estilos específicos para dispositivos móviles aquí */
  /* Por ejemplo, puedes ajustar el tamaño del texto o los márgenes para una mejor experiencia en dispositivos móviles */
}

/* Media query para tablets (Bootstrap utiliza 768px como punto de corte para tablets) */
@media (min-width: 577px) and (max-width: 991px) {
  /* Personaliza estilos específicos para tablets aquí */
  /* Puedes ajustar el diseño de las columnas o los márgenes para una mejor experiencia en tablets */
}

/* Media query para pantallas más grandes (Bootstrap utiliza 992px como punto de corte para pantallas más grandes) */
@media (min-width: 992px) {
  /* Personaliza estilos específicos para pantallas más grandes aquí */
  /* Puedes ajustar el diseño de las columnas o los márgenes para una mejor experiencia en pantallas grandes */
}
